# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Ubuntu executables
/Ch1/cards
/Ch1/rocks
/Ch2/food
/Ch2/index_text
/Ch2/scanf_test
/Ch2/southeast
/Ch2/text_search
/Ch2/monte
/Ch3/geo2json
/Ch4/message_hider
/Ch4/totaller


